body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.coming-soon-container {
    background-image: url('dove-background.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.coming-soon-text {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.75); 
    margin-top: -100px; 
    padding: 10px;
}